DATABASE_URL="postgresql://postgres.xtkqhkmfdbcakzxbibpf:bIjxyd-fepwoj-0juxzo@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=5&pool_timeout=30&sslmode=require"
DIRECT_URL="postgresql://postgres.xtkqhkmfdbcakzxbibpf:bIjxyd-fepwoj-0juxzo@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=5&pool_timeout=30&sslmode=require"
JWT_SECRET="any-long-random-string"
NEXT_PUBLIC_AUTH_DISABLED="0"
DEMO_EMAIL="admin@church.local"