DATABASE_URL="postgresql://postgres.xtkqhkmfdbcakzxbibpf:bIjxyd-fepwoj-0juxzo@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require"
DIRECT_URL="postgresql://postgres.xtkqhkmfdbcakzxbibpf:bIjxyd-fepwoj-0juxzo@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require"
JWT_SECRET="any-long-random-string"